body {
    color:white;
    background: rgb(36, 34, 34);
    margin: 0px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px rgb(216, 174, 174);
    padding: 20px;
    font-size: 30px;
    color:rgb(216, 174, 174);
}

.chamada {
    background: rgb(43, 30, 30);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%; 
}

h1 {
    font-size: 30px;
}

p {
    font-size: 15px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
opacity: 0.5;
height: 200px;
}

.categoria-videos img:hover {
opacity: 1;
border: 1px solid red;
}

.categoria h2 {
    color: rgb(216, 174, 174); 
}